.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 240px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 800px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 240px) {
  .freeBox {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .freeBox {
    display: flex;
    flex-direction: row;
  }
}
.listOfComps {
  display: flex;
  position: relative;
  width: 200px;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  flex-shrink: 0;
  padding: 8px;
  border-right: 1px solid #0000000f;
}
@media (min-width: 240px) {
  .listOfComps {
    flex-direction: row;
    display: flex;
    width: auto;
    flex-wrap: wrap;
    align-items: stretch;
    border-right-color: #0000000f;
    border-right-style: none;
    border-bottom: 1px solid #0000000f;
  }
}
@media (min-width: 1024px) {
  .listOfComps {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right-style: solid;
    flex-shrink: 0;
  }
}
.listItem:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 240px) {
  .listItem:global(.__wab_instance) {
    left: auto;
    top: auto;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .listItem:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.comp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 240px) {
  .comp:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 800px) {
  .comp:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
